
<ion-page>

  <ion-header>
    <ion-toolbar>
      <ion-title>Create Child Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Child Email</ion-label>
      <ion-input type="email" [(ngModel)]="form.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="form.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Age</ion-label>
      <ion-input type="number" [(ngModel)]="form.age"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="create()">Create</ion-button>
  </ion-content>

</ion-page>
