<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login">
  <ion-img class="logo" src="assets/gfharvestLogo1.png" alt="GF Harvest logo"></ion-img>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="form.email"
        autocomplete="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="form.password"
        autocomplete="current-password"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Role</ion-label>
      <!-- Use alert interface: much easier to center and not truncate -->
      <ion-select [(ngModel)]="selectedRole" interface="alert" placeholder="Select Role">
        <ion-select-option value="parent">Parent</ion-select-option>
        <ion-select-option value="child">Child</ion-select-option>
        <ion-select-option value="mentor">Mentor</ion-select-option>
        <ion-select-option value="church">Church</ion-select-option>
        <ion-select-option value="admin">Admin</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="login()" [disabled]="!form.email || !form.password">
    Login
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="loginWithGoogle()">
    Login with Google
  </ion-button>

  <ion-button routerLink="/register" fill="clear" expand="block">
    Don't have an account? Register
  </ion-button>
</ion-content>
