
<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>Academic Progress</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Test Score</ion-label>
      <ion-input type="number" [(ngModel)]="form.testScore"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Share Result?</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="form.shareResult"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Needs Help?</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="form.needsHelp"></ion-checkbox>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
  </div>
  </ion-content>
</div>
