<ion-header>
  <ion-toolbar>
    <ion-title>Mental & Emotional Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Well Treated at School</ion-label>
      <ion-input type="checkbox" [(ngModel)]="form.treatmentSchool"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Well Treated at Home</ion-label>
      <ion-input type="checkbox" [(ngModel)]="form.treatmentHome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Were you bullied?</ion-label>
      <ion-input type="checkbox" [(ngModel)]="form.bullied"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Notify Parent if bullied?</ion-label>
      <ion-input type="checkbox" [(ngModel)]="form.notifyParent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Suggestions</ion-label>
      <ion-textarea [(ngModel)]="form.suggestions"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
  </div>
</ion-content>
