
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mental & Emotional Status</ion-title>
    </ion-toolbar>
    <app-breadcrumbs></app-breadcrumbs>
  </ion-header>

  <ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Well Treated at School</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="form.treatmentSchool"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Well Treated at Home</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="form.treatmentHome"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Were you bullied?</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="form.bullied"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Notify Parent if bullied?</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="form.notifyParent"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Suggestions</ion-label>
      <ion-textarea [(ngModel)]="form.suggestions"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
  </div>
  </ion-content>

