
  <ion-header>
    <ion-toolbar>
      <ion-title>Bible Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-spinner *ngIf="loading" name="dots" class="center-spinner"></ion-spinner>
  <ion-list *ngIf="!loading && question">
    <ion-item>
      <ion-label position="stacked">Question</ion-label>
      <ion-label>{{ question.text || question.question }}</ion-label>
    </ion-item>
    <ion-radio-group [(ngModel)]="answer" *ngIf="question.options?.length">
      <ion-item *ngFor="let opt of question.options">
        <ion-label>{{ opt }}</ion-label>
        <ion-radio slot="start" [value]="opt"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-item *ngIf="!question.options?.length">
      <ion-label position="stacked">Your Answer</ion-label>
      <ion-input [(ngModel)]="answer"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
  </div>
  </ion-content>

