ion-spinner.center-spinner {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.reference {
  color: var(--ion-color-secondary);
  font-style: italic;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}
