<ion-app>
  <!-- <ion-header *ngIf="loggedIn">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/tabs/home">
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Grounded and Fruitful</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  <ion-menu contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title>Menu</ion-title> -->
       <ion-title>
          <img src="assets/gfharvestLogo1.png" alt="Menu logo" class="menu-logo" />
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/home">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/check-in" *ngIf="role === 'child'">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-label>Daily Check-In</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/bible-quiz" *ngIf="role === 'child'">
            <ion-icon slot="start" name="help-outline"></ion-icon>
            <ion-label>Bible Quiz</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/quiz-history" *ngIf="role === 'child'">
            <ion-icon slot="start" name="time-outline"></ion-icon>
            <ion-label>Quiz History</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/essay-tracker" *ngIf="role === 'child'">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            <ion-label>Essay Tracker</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/project-tracker" *ngIf="role === 'child'">
            <ion-icon slot="start" name="list-outline"></ion-icon>
            <ion-label>Project Tracker</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/academic-progress" *ngIf="role === 'child'">
            <ion-icon slot="start" name="school-outline"></ion-icon>
            <ion-label>Academic Progress</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/mental-status" *ngIf="role === 'child'">
            <ion-icon slot="start" name="happy-outline"></ion-icon>
            <ion-label>Mental Status</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/leaderboard" *ngIf="role === 'child' || role === 'parent'">
            <ion-icon slot="start" name="trophy-outline"></ion-icon>
            <ion-label>Leaderboard</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/churches" *ngIf="role === 'admin' || role === 'church'">
            <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-label>Churches</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/prayer-bulletin" *ngIf="role === 'admin' || role === 'church'">
            <ion-icon slot="start" name="newspaper-outline"></ion-icon>
            <ion-label>Prayer Bulletin</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/child-account" *ngIf="role === 'parent'">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            <ion-label>Add a Child</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/reward-center" *ngIf="role === 'child'">
            <ion-icon slot="start" name="gift-outline"></ion-icon>
            <ion-label>Reward Center</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/mentor-board" *ngIf="role === 'child' || role === 'parent' || role === 'mentor'">
            <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
            <ion-label>Mentor Board</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/group" *ngIf="role === 'parent' || role === 'mentor'">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>Groups</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/admin" *ngIf="role === 'admin'">
            <ion-icon slot="start" name="shield-outline"></ion-icon>
            <ion-label>Assign Mentor</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/admin-parent-child" *ngIf="role === 'admin'">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>Parent Child</ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/admin-user-management" *ngIf="role === 'admin'">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>User Management</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
