<ion-header>
  <ion-toolbar>
    <ion-title>Admin Tools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Mentor Name</ion-label>
      <ion-input [(ngModel)]="mentor.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mentor Email</ion-label>
      <ion-input type="email" [(ngModel)]="mentor.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mentor Phone</ion-label>
      <ion-input [(ngModel)]="mentor.phone"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="createMentor()">Create Mentor</ion-button>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Mentor</ion-label>
      <ion-select [(ngModel)]="selectedMentorId">
        <ion-select-option *ngFor="let m of mentors" [value]="m.id">
          {{ m.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Child</ion-label>
      <ion-select [(ngModel)]="selectedChildId">
        <ion-select-option *ngFor="let c of children" [value]="c.id">
          {{ c.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" (click)="assign()">Assign</ion-button>
  </ion-list>
</ion-content>

