
<ion-page>

  <ion-header>
    <ion-toolbar>
      <ion-title>Daily Check-In</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Gratitude 1</ion-label>
      <ion-input [(ngModel)]="form.gratitude1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Gratitude 2</ion-label>
      <ion-input [(ngModel)]="form.gratitude2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Gratitude 3</ion-label>
      <ion-input [(ngModel)]="form.gratitude3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">One Wish</ion-label>
      <ion-input [(ngModel)]="form.wish"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Weekly Goal</ion-label>
      <ion-input [(ngModel)]="form.goal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Next Birthday</ion-label>
      <ion-input type="date" [(ngModel)]="form.birthday"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mood</ion-label>
      <ion-segment [(ngModel)]="form.mood">
        <ion-segment-button value="😀">
          <ion-label>😀</ion-label>
        </ion-segment-button>
        <ion-segment-button value="🙂">
          <ion-label>🙂</ion-label>
        </ion-segment-button>
        <ion-segment-button value="😐">
          <ion-label>😐</ion-label>
        </ion-segment-button>
        <ion-segment-button value="☹️">
          <ion-label>☹️</ion-label>
        </ion-segment-button>
        <ion-segment-button value="😭">
          <ion-label>😭</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Sleep Quality</ion-label>
      <ion-input type="number" min="1" max="5" [(ngModel)]="form.sleepQuality"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Appetite</ion-label>
      <ion-input type="number" min="1" max="5" [(ngModel)]="form.appetite"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">School/Home Treatment</ion-label>
      <ion-textarea [(ngModel)]="form.treatment"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Need Help?</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="form.needsHelp"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="form.needsHelp">
      <ion-label position="stacked">How can we help?</ion-label>
      <ion-textarea [(ngModel)]="form.helpRequest"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
  </div>
  </ion-content>

</ion-page>
