
  <ion-header>
    <ion-toolbar>
      <ion-title>Daily Check-In</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Grateful for your talents or something new you've learned?</ion-label>
      <ion-toggle [(ngModel)]="form.talent"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="form.talent">
      <ion-label position="stacked">What is it?</ion-label>
      <ion-input [(ngModel)]="form.talentText"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Grateful for something about your home?</ion-label>
      <ion-toggle [(ngModel)]="form.home"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="form.home">
      <ion-label position="stacked">What is it?</ion-label>
      <ion-input [(ngModel)]="form.homeText"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Grateful for your physical being or health?</ion-label>
      <ion-toggle [(ngModel)]="form.physical"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="form.physical">
      <ion-label position="stacked">What is it?</ion-label>
      <ion-input [(ngModel)]="form.physicalText"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Grateful for caring people around you?</ion-label>
      <ion-toggle [(ngModel)]="form.people"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="form.people">
      <ion-label position="stacked">What is it?</ion-label>
      <ion-input [(ngModel)]="form.peopleText"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Did you make someone smile today?</ion-label>
      <ion-toggle [(ngModel)]="form.giving"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="form.giving">
      <ion-label position="stacked">What did you do?</ion-label>
      <ion-input [(ngModel)]="form.givingText"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">One Wish</ion-label>
      <ion-input [(ngModel)]="form.wish"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Weekly Goal</ion-label>
      <ion-input [(ngModel)]="form.goal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Next Birthday</ion-label>
      <ion-input type="date" [(ngModel)]="form.birthday"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mood</ion-label>
      <ion-segment [(ngModel)]="form.mood">
        <ion-segment-button value="😀">
          <ion-label>😀</ion-label>
        </ion-segment-button>
        <ion-segment-button value="🙂">
          <ion-label>🙂</ion-label>
        </ion-segment-button>
        <ion-segment-button value="😐">
          <ion-label>😐</ion-label>
        </ion-segment-button>
        <ion-segment-button value="☹️">
          <ion-label>☹️</ion-label>
        </ion-segment-button>
        <ion-segment-button value="😭">
          <ion-label>😭</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Sleep Quality</ion-label>
      <ion-input type="number" min="1" max="5" [(ngModel)]="form.sleepQuality"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Appetite</ion-label>
      <ion-input type="number" min="1" max="5" [(ngModel)]="form.appetite"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">School/Home Treatment</ion-label>
      <ion-textarea [(ngModel)]="form.treatment"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Need Help?</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="form.needsHelp"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="form.needsHelp">
      <ion-label position="stacked">How can we help?</ion-label>
      <ion-textarea [(ngModel)]="form.helpRequest"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
  </div>
  </ion-content>

