  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Kids Faith Tracker
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-grid class="tile-grid">
      <!-- Unauthenticated -->
      <ion-row *ngIf="!role">
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/login" expand="block">Login</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/register" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>

      <!-- Parent Buttons -->
      <ion-row *ngIf="role === 'parent'">
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/child-account" expand="block">Create Child</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/leaderboard" expand="block">Leaderboard</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="role === 'parent'">
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/mentor-record" expand="block">Mentor Board</ion-button>
        </ion-col>
      </ion-row>

      <!-- Child Buttons -->
      <ng-container *ngIf="role === 'child'">
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/check-in" expand="block">
            <!-- <img src="assets/tiles/dailycheckins.svg" alt="Daily Check-In" /> -->
            <span>Daily Check-In</span>
          </ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/mental-status" expand="block">
            <!-- <img src="assets/tiles/moodappraisal.svg" alt="Mood Appraisal" /> -->
            <span>Mood Appraisal</span>
          </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/bible-quiz" expand="block">
            <!-- <img src="assets/tiles/spiritualnourishment.svg" alt="Spiritual Nourishment" /> -->
            <span>Spiritual Nourishment</span>
          </ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/essay-tracker" expand="block">
            <!-- <img src="assets/tiles/essaytracker.svg" alt="Essay Tracker" /> -->
            <span>Essay Tracker</span>
          </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/academic-progress" expand="block">
          <!-- <img src="assets/tiles/academicenhancement.svg" alt="Academic Enhancement" /> -->
          <span>Academic Enhancement</span>
          </ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/project-tracker" expand="block">
            <!-- <img src="assets/tiles/creativityincubator.svg" alt="Creativity Incubator" /> -->
            <span>Creativity Incubator</span>
          </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/leaderboard" expand="block">
            <!-- <img src="assets/tiles/leaderboard.svg" alt="Leadership Board" /> -->
            <span>Leadership Board</span>
          </ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/quiz-history" expand="block">
            <!-- <img src="assets/tiles/quizhistory.svg" alt="Quiz History" /> -->
            <span>Quiz History</span>
          </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/mentor-record" expand="block">
            <span>Mentor Board</span>
          </ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/reward-center" expand="block">
            <span>Reward Center</span>
          </ion-button>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-content>

