.tile-grid {
  --ion-grid-column-padding: 8px;
  --ion-grid-row-padding: 8px;
}

.tile-button {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  --background: linear-gradient(
    to bottom right,
    var(--ion-color-primary),
    var(--ion-color-secondary)
  );
  --color: var(--ion-color-light);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tile-button img {
  width: 100%;
  height: auto;
}

.tile-button span {
  text-align: center;
  font-size: 1rem;
  padding: 4px;
}
