  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Kids Faith Tracker
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-grid class="tile-grid">
      <!-- Unauthenticated -->
      <ion-row *ngIf="!role">
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/login" expand="block">Login</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/register" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>

      <!-- Parent Buttons -->
      <ion-row *ngIf="role === 'parent'">
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/child-account" expand="block">Create Child</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/leaderboard" expand="block">Leaderboard</ion-button>
        </ion-col>
      </ion-row>

      <!-- Child Buttons -->
      <ng-container *ngIf="role === 'child'">
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/check-in" expand="block">
            <img src="assets/tiles/dailycheckins.svg" alt="Daily Check-In" />
          </ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/mental-status" expand="block">
            <img src="assets/tiles/moodappraisal.svg" alt="Mood Appraisal" />

          </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/bible-quiz" expand="block">Spiritual nourishment</ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/essay-tracker" expand="block">Essay Tracker</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/academic-progress" expand="block">Academic Enhancement</ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/project-tracker" expand="block">Creativity Incubator</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/leaderboard" expand="block">Leaderboard</ion-button>
          </ion-col>
          <ion-col size="6">
          <ion-button class="tile-button" routerLink="/tabs/quiz-history" expand="block">Quiz History</ion-button>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-content>

