<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kids Faith Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-button routerLink="/check-in" expand="block">Daily Check-In</ion-button>
    <ion-button routerLink="/login" expand="block">Login</ion-button>
    <ion-button routerLink="/register" expand="block">Register</ion-button>
    <ion-button routerLink="/child-account" expand="block">Create Child</ion-button>
  </div>
</ion-content>
