
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
    <app-breadcrumbs></app-breadcrumbs>
  </ion-header>

  <ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="form.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="form.password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="register()">Register</ion-button>
  <ion-button expand="block" color="secondary" (click)="registerWithGoogle()">
    Sign up with Google
  </ion-button>
  <ion-button routerLink="/login" fill="clear" expand="block">
    Already have an account? Login
  </ion-button>
  </ion-content>

